<html>
    <head>
        <title>Jolly Blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Jolly Blog</a></h1>
        </div>

        {% for post in posts %}
    <div>
        <p>published: {{ post.published_date }}</p>
        <h1><a href="">{{ post.title }}</a></h1>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
{% endfor %}

        <div>
            {{ posts }}
        </div>
    </body>
</html>

<QuerySet [<Post: My second post>, <Post: My first post>]>

{% for post in posts %}
    {{ post }}
{% endfor %}